#Main{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 450px) {
    #Main{
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        box-sizing: border-box;
        background-color: hsl(0, 31%, 51%);
    }
}
