
#Infowraperdiv{
    width: 60%;
    height: 100%;
    padding: 50px;
    background-image: url(../../assets/bg-pattern-desktop.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap: 20px;
    box-sizing: border-box;
    padding-left: 100px;
}

#Infowraperdiv>img {
    width: 150px;
    height: 40px;
    padding-bottom: 50px;
}

#Bottomdiv{
    width: 80%;
    height: 75%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "JosefinSans";
    font-weight: lighter;
    font-size: 40px;
    color:hsl(0, 30%, 76%)    ;
    letter-spacing: 10px;
    margin: 0%;
}

h2{
    font-family: 'JosefinSans';
    font-weight: light;
    font-size: 40px;
    color: hsl(0, 6%, 24%)   ;
    letter-spacing: 10px;
    margin: 0%;
}

p{
    font-family: 'JosefinSans';
    font-weight: normal;
    font-size: 12px;
    color:hsl(0, 30%, 76%)    ;
}

#buttondiv{
    display: flex;
    flex-direction: row;
}

.email-input-container {
    max-width: 400px; /* قم بتعديلها حسب الحاجة */
  }
  
  .email-input-container input[type=text] {
    width: 100%;
    padding: 10px;
    border: 2px solid red; /* تظهر كإشارة خطأ */
    border-radius: 25px; /* زوايا مستديرة */
    /* position: absolute;
    z-index: 2; */
  }

  .email-input-container button {
    width: 80px;
    border: none;
    background-image: linear-gradient(to right, hsl(0, 79%, 95%), hsl(0, 75%, 78%));
    border-radius: 25px;
    cursor: pointer;
     position: relative;
     right: 50px;
    /* z-index: 3; */
  }
  
  .email-input-container .arrow-right::after {
    content: '>';
    width:80px ;
    padding: 10px;
    color: white;
    border: none;
    background-color: none;
    border-radius: 25px;
  }
  
  .error-message {
    color: red;
    font-size: small;
    /* يمكنك تعديل أسلوب رسالة الخطأ هنا */
  }

  @media only screen and (max-width: 450px) {
    #logoimg{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    #Infowraperdiv{
        background-image: none;
        width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    padding-left: 30px;

    }
    #Bottomdiv{
        width: 100%;
        row-gap: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        /* padding-left: 50px; */
    }
    h1{
        font-size: 50px;
        padding-top: 100px;
    }

    h2{
        font-size: 60px;
    }

p{
    font-size: 24px;
    
}
  }